################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/webapi/.vs/webapi/FileContentIndex
/.vs
